<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar</h4>
        <div class="progress m-t-30">
          <div class="progress-bar bg-primary active progress-bar-striped"
           style="height:5px;"
           [ngStyle]="{ width: getPorcentaje1 }"
           role="progressbar">
          </div>
        </div>
        <div class="progress m-t-30">
          <div class="progress-bar bg-info active progress-bar-striped"
           style="height:5px;"
           [ngStyle]="{ width: getPorcentaje2 }"
           role="progressbar">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
        (valor)="progreso1 = $event"
        [valor]="15"></app-incrementador>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
        (valor)="progreso2 = $event"
        [btnClass]="'btn-info'"
        ></app-incrementador>
      </div>
    </div>
  </div>
</div>
