<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil de usuario</h4>
        <h6 class="card-subtitle">Ajustes</h6>
        <form class="form p-t-20" (ngSubmit)="actualizarPerfil()" [formGroup]="perfilForm">
          <div class="form-group">
            <label for="exampleInputuname">Nombre del Usuario</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
              type="text"
              class="form-control"
              id="exampleInputuname"
              placeholder="Nombre de Usuario"
              formControlName="nombre"
              >
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo Electrónico</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="Correo Electrónico"
              [readOnly]="usuario.google"
              formControlName="email">
            </div>
          </div>
          <button type="submit"
           class="btn btn-success btn-block waves-effect waves-light m-r-10"
           [disabled]="perfilForm.invalid"><i class="fa fa-save"></i>
            Guardar Cambios
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Avatar</h4>
            <h6 class="card-subtitle">Imagen del usuario</h6>

            <img *ngIf="!imgTemp" [src]="usuario.imagenUrl" [alt]="" class="img-avatar">
            <img *ngIf="imgTemp" [src]="imgTemp" [alt]="" class="img-avatar">
            <input type="file"
             name="userImg"
             id="userImg"
             (change)="cambiarImagen($event.target.files[0])">
            <br>
            <br>
            <button
             type="button"
            class="btn btn-success btn-block waves-effect waves-light m-r-10"
            (click)="subirImagen()"
            [disabled]="!imagenSubir"
            ><i class="fa fa-save"></i>
              Cambiar Imagen
            </button>
        </div>
    </div>
  </div>
</div>
