<div class="row">
  <div class="col-6">
    <app-doughnut-chart
      [title]="'Ventas'"
      ></app-doughnut-chart>
  </div>
  <div class="col-6">
    <app-doughnut-chart
    [title]="'Compras'"
    [labels]="labels1"
    [data]="data1"></app-doughnut-chart>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <app-doughnut-chart
    [title]="'Cambios'"></app-doughnut-chart>
  </div>
  <div class="col-6">
    <app-doughnut-chart
    [title]="'Compras2'"></app-doughnut-chart>
  </div>
</div>
