/* You can add global styles to this file, and also import other style files */
.fast {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}

#themecolors .selector, .cursor {
  cursor: pointer;
}

#google-btn {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-avatar {
  display: block;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.w75 {
  width: 75px;
}

.w100 {
  width: 100px;
}

.w140 {
  width: 140px;
}

.w200 {
  width: 200px;
}

.avatar {
  border-radius: 100%;
  width: 30px;
}

.avatar-hospitales {
  border-radius: 0px;
  width: 50px;
}

.fondo-modal-imagen {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.oculto {
  display: none;
}


